{% extends 'base.html' %}

{% block content %}


<head>
  <title>Music Albums Search</title>
</head>
<body>
  <h1>Tracks for {{ artist }}</h1>
  <table>
    <thead>
      <tr>
        <th>Track Name</th>
      </tr>
    </thead>
    <tbody>
      {% for track in tracks %}
        <tr>
          <td>{{ track }}</td>
          <td>
            <form method="post">
              <div class="form-group">
                <button type="submit" class="btn btn-primary" id="track" name="track" value="{{ track }}">Queue</button>

              </div>


            </form>
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <a href="/event">Search another artist</a>
</body>
{% endblock %}
