{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add a New Event{% endblock %}</h1>
    <form method="post">
        <label for="name">Title</label>
        <br>
        <input type="text" id="name" name = "name" placeholder="Post name" value="{{ request.form['name'] }}">
        <br>

        <label for="description">Description</label>
        <br>
        <textarea id="description"
                name="description"
                  placeholder="Post description"
                  rows="15"
                  cols="60"
                  >{{ request.form['description'] }}</textarea>
        <br>
        <label for="points">Points</label>
        <input type="number" id="points" name="points" min="0" max="50" />
        <br>
        <button type="submit">Submit</button>
    </form>
{% endblock %}
