{% extends 'base.html' %}

{% block content %}

    <h2>Welcome to St Paul's House Points</h2>
    <p>
        All students at St Paul’s School are placed into one of five Houses – Boek, Gladius, Mitre, Scudo and Taja.

        These Houses were established in 2016, with names that reflect the cultural heritage of the School and reference the School Crest: represented on the right.

        The five Houses run from Pre-Prep through to Year 12 and form the foundation of a student’s journey at St Paul’s.  Students compete under their House’s flag in all-School events such as the swimming carnival, cross country and athletics carnival, while also attending chapel and tutor groups within their Houses.

        Each House has two captains (one boy and one girl) who work with their House Leader to build community and contribute to the life of the School.
    </p>
{% endblock %}
